:root{
    --animation-duration: 350ms;
    --current-color: rgba(115, 91, 107, 0.6);
}

body{
    margin: 0;
    padding: 0;

    color: #EBE5E2;

    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

/* -=+=====================+=- */
/* -=+=- Header Style -=+=- */
/* -=+=====================+=- */
header {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 64px;

    display: flex;
    position: relative;

    background-color: #735B6B;
    border-bottom: 3px solid #FF7511;
    color: #EBE5E2;

    z-index: 20;
    /* transition: background-color var(--animation-duration) linear; */
    /* color: white; */
}
header h1{
    font-family: mrs-eaves, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32.5px;
    line-height: 37px;

    margin: 0;
    padding: 0;
}
header a {
    display: flex;
    margin: 0 0 0 24px;
    padding: 0;
    color: #EBE5E2;
    text-decoration: none;
}
.contact-icon{
    width: 34px;
    height: 20px;
}
.instagram-icon{
    width: 26px;
    height: 26px;
}
header img{
    /* width: 25px; */
    /* height: 25px; */

    margin: 0 0 0 0;
    padding: 0;
}
header div{
    flex-grow: 1;
    margin: 0 80px;
    padding: 0;

    display: flex;
    align-items: center;
}
.header-right{
    justify-content: right;

}
.noshow {
    border: none;
    background: none;
    color: white;

    padding: 0;
}
/* -=+=====================+=- */
/* -=+=- Contact Style -=+=- */
/* -=+=====================+=- */
.contact {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    display: none;
    justify-content: center;
    align-items: center;

    z-index: 20;
}
.contact .wrap {
    background-color: var(--current-color);

    width: 744px;
    height: 436px;

    border-radius: 11px;
    backdrop-filter: blur(4px);

    margin: 0;
    padding: 32px;
}
.contact .wrap h1{
    /* position: absolute;
    width: 107px;
    height: 24px;
    left: 348px;
    top: 191px; */

    

    font-family: mrs-eaves, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 24px;

    margin: 0 0 24px 0;
    padding: 0;
}
.contact form {
    display: block;
    margin: 0;
    padding: 0;
    /* margin: 32px; */
    width: 744px;
}
.contact input {
    box-sizing: border-box;
    display: block;

    /* position: absolute; */
    width: 744px;
    height: 32px;

    margin: 0 0 24px 0;
    padding-left: 8px;

    background: var(--current-color);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;

    color: white;

    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}
.contact textarea{
    box-sizing: border-box;
    display: block;

    background: var(--current-color);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;

    width: 744px;
    height: 132px;

    color: white;
    opacity: 80%;

    margin: 48px 0 24px 0;
    padding: 8px;

    resize: none;

    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}
.contact textarea::placeholder{
    /* font-family: Arial, Helvetica, sans-serif; */
    opacity: 80%;
}
.contact input::placeholder{
    opacity: 80%;
    /* top: 0%; */
}
.contact .name {
    /* display: flex; */
}
.contact .name input {
    width: 360px;
}
.contact .name .first-name{
    margin-right: 24px;
}

.contact .wrap form button {
    width: 360px;
    height: 32px;
    display: block;

    background: var(--current-color);
    border: 1px solid rgba(255, 255, 255, 0.6);
    color: white;
}
.contact .wrap div{
    display: flex;
}
.contact .noshow{
    margin: 0 0 auto auto;

}
.contact .noshow img{
    width: 16px;
    height: 16px;
    margin: 0;
}

/* -=+==================+=- */
/* -=+=- Images Style -=+=- */
/* -=+==================+=- */

.hover-images{
    display: flex;

    height: calc(100vh - 67px);
    width: 100%;
}
.hover-images div {
    flex-shrink: 1;
    /* flex: 0 1 auto; */
    height: 100%;
    max-width: fit-content;

    transition: width 3000ms ease-out, flex-shrink 1500ms ease-out;

    /* transition: flex-grow 1500ms ease-out; */

    /* border: 2px dashed orange; */
    /* border-color: ; */
}

.hover-images img {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    display: inline-block;
    filter: saturate(0.25) brightness(0.6);
}

#test{
    /* flex-shrink: 0.5; */
}

#test2{
    /* flex-shrink: 0.1; */
}